In [1]:
val = 10

if val > 5:
    print("val is bigger than 5")

val is bigger than 5

In [2]:
val = 1

if val > 5:
    print("test")
    
print("val is bigger than 5")

val is bigger than 5

In [3]:
money = 10

if money >100:
    item = "apple"
else:
    item = "banana"
        
print(item)

banana

In [4]:
score = int(input(('Input Score')))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score< 90:
    grade = 'B'
elif 70 <= score< 90:
    grade = 'C'
elif 60 <= score< 90:
    grade = 'D'
else:
    grade = 'F'
    
print('점수통보! 등급 = ' + grade)

Input Score30
점수통보! 등급 = F

In [5]:
#수학, 영어, 국사 시험을 봤다
#각각의 점수를 입력하여 토탈 평균이 60점 미만이며
#또한 각 과목의 점수들이 50점 미만인 경우에도 탈락 처리를 하도록 한다.

In [6]:
math = int(input(('Input Score')))
english = int(input(('Input Score')))
history = int(input(('Input Score')))

mean = (math + english + history)/3

if mean < 60:
    grade = '탈락'
elif math< 50:
    grade ='탈락'
elif english< 50:
    grade ='탈락'
elif history< 50:
    grade ='탈락'
else:
    grade = '합격'
    
print('점수통보! 등급 = ' + grade)

if (math >= 50 and english >= 50 and history >=50 and mean >= 60):
    res = '합격'
else:
    res = '탈락'
    
print('점수통보! 등급 = ' + res)
print('mean: ', mean)

Input Score70
Input Score70
Input Score60
점수통보! 등급 = 합격
점수통보! 등급 = 합격
mean:  66.66666666666667

In [7]:
# 자바의 경우 중괄호를 사용하지만 파이썬에서는 중괄호 없이 사용함 (:)
val = 5

while val >0:
    print(val)
    val -= 1

5
4
3
2
1

In [9]:
lists = ['Apple', 100, 15.33]

for i in lists:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [10]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in numList:
    if i > 5:
        break
    print("item: {0}".format(i))

item: 1
item: 2
item: 3
item: 4
item: 5

In [11]:
for i in numList:
    if i %2 ==0:
        continue        
    print("item: {0}".format(i))

item: 1
item: 3
item: 5
item: 7
item: 9

In [16]:
#range_num = range(10)
#range_list = list(range_num)
#print(range_list)

print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
print(list(range(5, 10)))

[5, 6, 7, 8, 9]

In [18]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [21]:
numList = list(range(1, 11))
print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#print에 { } 넣으면 해당값이 넣어진다.
strList = ["Apple", 'Orange', 'Grape', 'Banana']

for i in range(len(strList)):
    print("idx: {0}, val: {1}".format(i,strList[i]))

idx: 0, val: Apple
idx: 1, val: Orange
idx: 2, val: Grape
idx: 3, val: Banana

In [30]:
# list는 키(index 등) value값이 정해진다(json 형식)
varList = [100, 33.7, 'Grape']

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33.7)
(2, 'Grape')

In [32]:
numList1 = [3,4,5]
numList2 = [1.5, -0.5, 4]
#[]감싸는 것은 list
# 3*1.5 3 * -0.5 ... / 4*1.5 ... / ...
print([x * y for x in numList1 for y in numList2])
#파이썬만의 특징 numList 1, 2에서 뽑아온 x, y를 곱하기
resLists = [x * y for x in numList1 for y in numList2]
print(resLists)
print(type(resLists))

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20]